node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env
.env.local
.env.*.local
.env.production

dist/
build/
.next/
out/

.vscode/

.vite/
vite-env.d.ts

# Backend (Node)
.nodemon.json
coverage/
.nyc_output/

*.sql